In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('/Users/dongyokim/main/jupyter /2022:1/tpdm/반려 지도 최종 데이터셋.xlsx')

In [3]:
data.head()

           업체명  업체구분         위도          경도     시도  시군구
0  서울/새양지가축약품사  동물약국  37.535356  127.144472  서울특별시  강동구
1    서울/협성가축약품  동물약국  37.566535  126.977969  서울특별시  NaN
2   서울/라이프동물약국  동물약국  37.566535  126.977969  서울특별시  NaN
3     서울축산약품상사  동물약국  37.566535  126.977969  서울특별시  NaN
4      서울/공항축산  동물약국  37.563614  126.807692  서울특별시  강서구

In [4]:
data.shape

(3569, 6)

In [6]:
# 중복제거 
data = data.drop_duplicates(['업체명'])
data.reset_index(drop=True, inplace=True)

In [7]:
data.shape

(3318, 6)

In [13]:
data['시도'].value_counts()

경기도        1359
강원도         646
충청남도        162
경상북도        146
제주특별자치도     125
경상남도        119
전라남도        117
서울특별시       115
충청북도         84
전라북도         84
인천광역시        84
부산광역시        79
대구광역시        49
울산광역시        44
대전광역시        42
광주광역시        36
강릉시           2
가평군           2
세종특별자치시       2
산티아고          1
태안군           1
경주시           1
충청남도          1
서귀포시          1
동해시           1
보령시           1
전주시           1
안산시           1
안동시           1
연기군           1
캄파니야          1
담양군           1
뉴멕시코          1
시흥시           1
뉴욕            1
봉천동           1
파주시           1
포항시           1
여주군           1
춘천시           1
Name: 시도, dtype: int64

In [16]:
data.to_excel('반려 지도 최종 데이터.xlsx')